<style>
    body {
        background-color: #5B85AA;
        color: white;
    }
    .card-title {
        margin-bottom: 15px;
    }
</style>
<body>
    
<div class="container py-5">
    <!-- Tartalom kezdete -->
    <div class="jumbotron text-center">
      <h1 class="display-4"><b>Üdvözlünk!</b></h1>
      <p class="lead">Ha önnek, gróf, nem akad okosabb dolga</p>
      <hr class="my-4">
      <p>Milyen kegyetlen megrohanás</p>
    </div>

    <div class="row text-center">
      <div class="col-md-4">
        <div class="mb-4">
          <div class="card-body px-4">
            <h5 class="card-title">Lorem</h5>
            <p class="card-text">A herczeg azon a mesterkélt franczia nyelven beszélt, a melyen nagyapáink nemcsak
                beszéltek, hanem gondolkoztak is, és még hozzá azzal a halk és vállveregető hanghordozással, a melylyel az előkelő világ és az udvar körében megvénült, tekintélyes emberek
                szoktak beszélni. Odament Pavlovna Annához, illatszerekkel behintett fényes és kopasz fejét
                odadugván az orra alá, kezet csókolt neki és nyugodtan leült a pamlagra. </p>
          </div>
        </div>
        <div class="">
            <div class="card-body px-4">
              <h5 class="card-title">Ipsum</h5>
              <p class="card-text">Sokszor elgondolom, - folytatta Pavlovna Anna, pillanatnyi hallgatás után, s közelebb
                  húzódván a herczeghez, szelíden rámosolygott, ezzel akarván jelezni, hogy a politikai és
                  világi beszélgetéseknek vége, s most a bizalmas természetűek kezdődnek: - sokszor
                  elgondolom, hogy milyen igazságtalanul oszlik meg olykor az élet boldogsága. Miért adott
                  önnek a sors két ilyen pompás (Anatolet, a legfiatalabbat kivéve, a kit nem szeretek, - vetette
                  közbe határozottan, a szemöldökeit fölrántva), ilyen bájos gyermeket? Mikor ön, igazán, a
                  legkevésbbé becsüli meg, s így nem is érdemli meg őket. 
                  </p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="">
          <div class="card-body px-4">
            <h5 class="card-title">Dolor</h5>
            <p class="card-text">Lassankint kezdett megtelni Pavlovna Anna fogadó-szobája. Ott volt Pétervár legelőkelőbb
                világa, csupán jellemre és korra nézve különböző, de a társaság szempontjából, a melyben
                valamennyien éltek, hasonszőrű emberek; ott volt Vaszilij herczeg leánya, a szépséges Elen,
                a ki az apjáért jött, hogy vele együtt elmenjen a nagykövet ünnepélyére. Báli ruhában és
                udvarhölgyeket megillető díszben volt. Ott volt a kis Bolkonszkij herczegné, a kit Pétervár
                legbájosabb asszonyának ösmertek. Csak a múlt télen ment férjhez, s mostanában áldott
                állapotára való tekintettel nem járt a nagy világba, de kisebb estélyeken azért megjelent. Ott
                volt Vaszilij herczeg fia, Hyppolit herczeg Mortemare-al, a kit ő mutatott be a társaságnak,
                Morieau abbé és még sokan mások is. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="water.jpg" class=" mt-5 w-100 border rounded">
      </div>
    </div>
  </div>

</body>
  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
