<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="/feltolt" class="nav-link px-2 text-body-secondary">Hiba bejelentése</a></li>
      <li class="nav-item"><a routerLink="/lista" class="nav-link px-2 text-body-secondary">Hibák</a></li>
      <li class="nav-item"><a routerLink="/chat" class="nav-link px-2 text-body-secondary">Chat</a></li>
      <li class="nav-item"><a routerLink="/kapcsolat" class="nav-link px-2 text-body-secondary">Kapcsolat</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 Csabesz & Herevándor Project Inc.</p>
  </footer>
